@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*grijs #899CA0
donkergroen #1C2B32*/

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
    color: #1C2B32;
    font-size: 9px;
    font-weight: 300;
    max-width:1000px;
}

h1, h2 {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    color: #1C2B32;
}

h3 {
    font-size: 8px;
    font-weight: 400;
    font-color: #1C2B32;
}

.header-section h1 {
    font-size: 65px;
    line-height: 1.5;
}

a,
a:visited {
    color: #1C2B32;
    font-weight: 300;
}

input[type=text] {
    background-color: transparent;
    width: 190px;
    height: 40px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 9px;
    border: 1px solid #1C2B32;
}

.header-text {
    font-size: 8.6px;
    line-height: 10px;
}

header ::placeholder {
    padding: 18px;
    font-size: 10px;
}

a {
    color: #899CA0;

}

a:hover {
    text-decoration: none;
}

/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/


.header-section {
    color: #1C2B32;
    padding: 50px 0 190px 0;
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    /*background-position: top;*/
}

.header-section button {
    background-color: #1C2B32;
    color: #FFFFFF;
    font-size: 9px;
    padding: 14px 20px;
    border: 1px solid #1C2B32;
    margin: -4px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.form {
    margin: 22px;
}



/*///////////// 3.2 Testimonial /////////////*/
main {
    max-width: 1000px;
    margin: 35px auto;
}

.testimonial{
    width: 600px;
    border: 2px solid pink;
    height: 130px;
    border-radius: 5px;
    margin: 40px;
}

.testimonial-section {
    margin: 35px auto;
}

/*///////////// 3.3 Support /////////////*/


.callcenter {
    width: 100%;
    border-radius: 5px;
}

/*.support {*/
/*    position: relative;*/

/*}*/





/*///////////// 3.4 Faq /////////////*/


/*///////////// 3.5 Footer /////////////*/